<?xml version="1.0"?>
<model>
  <name>mountain_terrain</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>cuing</name>
    <email>cuing@example.com</email>
  </author>
  <description>Simple mountain terrain made from Gazebo primitive shapes for a ROS course lab.</description>
</model>
